.welcome-img{
    height: 300px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -10;
}

.container{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-top: -200px;
}


.box-form{  
    max-width: 100%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    padding: 20px 40px;
    color: #222831;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
}

.kotakmm{
    background-color: #5F27CD;
    width: 20%;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

.kotakrpl{
    background-color: #1DD1A1;
    width: 20%;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

.kotaktkj{
    background-color: #EE5253;
    width: 20%;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}