.center{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-right: 20px;
}

body {
    background-image: url("../assets/bg.jpeg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

.box-form{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    padding: 40px;
    width: 800px;
    border-radius: 20px;
}

.btn-masuk{
    height: 40px;
    margin-right: 5px;
}

.btn-register{
    height: 40px;
}

#footer{
    background-color: #222831;
    text-align: center;
    color: #eee;
    min-width: 100%;
    max-height: 100px;
    padding: 5px 0;
    margin-top: 490px;
}

#footer ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 1px;
}

#me{
    text-align: center;
    font-size: .8rem;
}